{% extends "base_generic.html" %}

{% block content %} 
<div class = "common">
        <div class = "list">
            {% for Pot in pot_list %}
            <ul class = "liststyle">
                <li>
                <a href="{{ Pot.get_absolute_url }}">{{ Pot.title }}</a> 
            </li>
            </ul>
            {% endfor %}
        </div>
        <div class = "search">
            <form class = "searchform" action="" method="get">
                {{ filter.form.as_p }}
                <input type="submit" value="Искать"/>
            </form>
        </div>
{% endblock %}
